/* IMAGES */

html {

}

body {
	font-family: 'Space Mono', monospace;
	background:
	 url(img/DOODLESX.jpg)
	 repeat;
	 background-color: grey;
 background-blend-mode: screen;
  width: 100%;
	height:100%;

}

header {

}

header img {
	max-width: 50%;
	height:100%;
	margin:25%;
	padding:1em;
	position:absolute;
	top: -400px;
	left: 300px;
}

footer {

}

figure {
	width:50%;
	margin:0px 0 8em 0;
	position:relative;

}

.rotate {
 transform: rotate(90deg);
}

.full-width {
	width: 100%;

}
.transform{
	left:50px;
}

h1 {

}

img {
	max-width: 100%;
}

main {
	position:absolute;
	top: 700px;
	left: 200px;
	display: flex;
	flex-wrap: wrap;
}
